html {
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.svg-chart-container {
  width: 100%;
}

.chart-container {
  width: auto;
  height: auto;
  overflow: hidden;
  position: static;
}

.details-button {
  margin-inline-start: 300px;
  writing-mode: horizontal-tb;
  padding: 3px 6px;
  background-color: rgb(41, 151, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease-in-out;
  align-self: flex-end;
  z-index: 10000;
}

.details-button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

.highlighted {
  background-color: rgba(255, 255, 200, 0.2) !important;
}

@media screen and (max-width: 768px) {
  .user-block {
    padding: 15px;
  }
}

input {
  background-image: url(/img/magnifier.svg) !important; /* Измените путь, если иконка находится в другой папке */
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
  background-position: 8px !important;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px !important;
  font-family: inherit;
  line-height: 20px;
  height: 38px !important;
  margin: 0 !important;
  padding: 8px 32px !important;
  padding-left: 32px !important;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.1s;
  -moz-transition: border-color 0.1s;
  transition: border-color 0.1s;
}

.employee-tree-sidebar button {
  width: 236px;
  padding: 5px;
  margin-top: 1px;
  background-color: rgb(41, 151, 255);
  color: white;
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.employee-tree-sidebar {
  width: 290px;
  position: absolute;
  float: left;
  margin-top: 20px;
}

.employee-card {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 280px;
  z-index: 10000;
  text-align: center;
}

.employee-card .close-button {
  position: absolute;
  top: -6px;
  right: 5px;
  background: none;
  border: none;
  font-size: 20px;
  color: #ff0000;
  width: 24px;
  cursor: pointer;
}

.employee-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}

.employee-details {
  text-align: left;
}

.employee-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.employee-position {
  font-size: 1.2em;
  color: #212121;
  margin: 5px 0;
}

.employee-address,
.employee-email,
.employee-phone {
  color: #555555;
  margin: 5px 0;
}